# General
\#*#
.*~
*~
.#*
*.swp
.DS_Store
.gdb_history
TAGS
# Object files, etc
*.a
*.o
*.so
*.hi
*.p_hi
*.chi
*.chs.h
*.tix
.hpc
a.out
# autotool
autom4te.cache
stamp-h1
# misc
*.sqlite
Main
dist/
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
dist-newstyle/
.ghc.environment.*
.stack-work
