# General
\#*#
.*~
*~
.#*
*.swp
.DS_Store
.gdb_history
TAGS
# Object files
*.a
*.o
*.so
*.hi
*.p_hi
a.out
# autotool
autom4te.cache
stamp-h1
# misc
*.sqlite
Main
dist/
cabal-dev/
cabal.sandbox.config
.cabal-sandbox
